$main-font-size: 16px;
$main-width: 1440px;

$bg-col: #F9F9F9;
$bg-col-fff: #ffffff;

$white-text: #ffffff;
$col-text: #000000;
$soft-col-text:#B1B1B1;

$action-col: #FF7020;
$action-col-text: #FF5C00;

$nt-active-btn:#F2F2F3;
$activ-col: #FFAB08;

$col-border: #F2F2F3;

$z-ind-modal-overlay: 2023;